.git
.gitignore

node_modules
**/node_modules

packages/mobile/ios
packages/mobile/android
packages/mobile/.expo
packages/mobile/dist
packages/server/dist

.env
**/.env
**/.env.*
*.log
.DS_Store

docs
*.md
